/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
	background: $white;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: $dark-grey;
	display: block;
	font-size: 1em;
	font-weight: 700;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}


/* Skip Links
---------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link .skip-link-hidden {
	display: none;
	visibility: hidden;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	color: $dark-grey;
	outline: $mid-grey solid 1px;
}



/* Site Navigation
---------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;

	.menu-item {
		display: block;
		float: none;
		position: relative;

		@media only screen and (min-width: $small-screen) {
			display: inline-block;
		}
	}

	a {
		color: $dark-grey;
		display: block;
		font-size: 15px;
		font-weight: 400;
		outline-offset: -1px;
		padding-bottom: 12px;
		padding-top: 12px;
		text-decoration: none;
	}	

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		color: $purple;
		text-decoration: none;
	}

	.sub-menu,
	.sub-menu a {
		width: 100%;

		@media only screen and (min-width: $small-screen) {
			width: 180px;
		}
	}

	.sub-menu {
		clear: both;
		display: none;
		left: -9999px;
		margin: 1px 0 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		z-index: 99;

		@media only screen and (min-width: $small-screen) {
			opacity: 0;
			padding-left: 0;
			position: absolute;
			transition: opacity 0.4s ease-in-out;
		}

		a {
			background-color: initial;
			font-size: 14px;
			position: relative;
			word-wrap: break-word;

			@media only screen and (min-width: $small-screen) {
				background-color: rgba(255,255, 255, 0.70);
				border-top: 0;
				padding-bottom: 15px;
				padding-top: 15px;
			}
		}
	}

	.menu-item:focus,
	.menu-item:hover {
		position: relative;
	}

	.menu-item:hover > .sub-menu {
		display: block;
		left: auto;
		opacity: 1;
	}

	@media only screen and (min-width: $small-screen) {
		& > .menu-bold > a {
			font-weight: 700;
		}

		& > .menu-highlight > a {
			background-color: $dark-grey;
			border-radius: 3px;
			color: $white;
			font-weight: 600;
			margin-left: 15px;
			padding-left: 20px;
			padding-right: 20px;
		}

		& > .menu-highlight > a:focus,
		& > .menu-highlight > a:hover {
			background-color: $purple;
		}

		.sub-menu .sub-menu {
			margin: -46px 0 0 179px;
		}
	}
}



/* Responsive Menu
--------------------------------------------- */

.menu {
	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}


.genesis-responsive-menu {
	display: none;
	position: relative;

	@media only screen and (min-width: $small-screen) {
		display: block;
		padding-top: 15px;
	}

	.genesis-nav-menu .menu-item:hover > .sub-menu {
		display: none;
	}
}


.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	color: $dark-grey;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	visibility: visible;

	@media only screen and (min-width: $small-screen) {
		display: none;
		visibility: hidden;
	}
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: transparent;
	border-width: 0;
	color: $purple;
}

.menu-toggle {
	float: right;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px 0;
	position: relative;
	z-index: 1000;
}

.site-header .menu-toggle::before {
	float: left;
	margin-right: 5px;
	position: relative;
	text-rendering: auto;
	top: 1px;
}

.sub-menu-toggle {
	float: right;
	padding: 9px 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.sub-menu .sub-menu-toggle {
	padding: 12px 10px;
}

.sub-menu-toggle::before {
	display: inline-block;
	text-rendering: auto;
	transform: rotate(0);
	transition: transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
	transform: rotate(180deg);
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	padding-bottom: 0;
	padding-top: 0;
	width: 100%;
	text-transform: uppercase;

	.genesis-nav-menu {
		margin-bottom: 20px;
	}

	.genesis-nav-menu .menu-item.social {
		display: inline-block;
		margin-right: 40px;
	}

	@media only screen and (min-width: $small-screen) {
		clear: none;
		float: right;
		width: auto;

		.genesis-nav-menu {
			margin-bottom: 0;
		}

		.genesis-nav-menu .menu-item.social {
			margin-right: 0;
		}

		.genesis-nav-menu a {
			padding: 47px 10px;
		}

		.genesis-nav-menu .sub-menu a {
			padding: 20px 15px;
		}
	}
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;
}

.nav-secondary .genesis-nav-menu {
	line-height: 1.5;
}

.nav-secondary .menu-item {
	display: inline-block;
}

.nav-secondary a {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}


/* Child pages menu
--------------------------------------------- */

.child-pages-menu {
	text-transform: uppercase;

	ul.children {
		padding-top: 10px;
	}
}


/* Hamburgers
--------------------------------------------- */
.hamburger {
	height: 109px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 

	@media only screen and (min-width: $small-screen) {
		display: none;
	}
}

.hamburger:hover {
    opacity: 0.7; 
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative; 
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: $black;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

/* Collapse
--------------------------------------------- */
.hamburger--collapse {
	.hamburger-inner {
		top: auto;
		bottom: 0;
		transition-duration: 0.13s;
		transition-delay: 0.13s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

		&::after {
			top: (6px * 2 + 4px * 2) * -1;
			transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
			opacity 0.1s linear;
		}

		&::before {
			transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
			transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}

	&.activated {
		.hamburger-inner {
			transform: translate3d(0, (6px + 4px) * -1, 0) rotate(-45deg);
			transition-delay: 0.22s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			background-color: $purple;

			&::after {
				top: 0;
				opacity: 0;
				transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
				opacity 0.1s 0.22s linear;
				background-color: $purple;

			}

			&::before {
				top: 0;
				transform: rotate(-90deg);
				transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
				transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
				background-color: $purple;

			}
		}
	}
}