/* Site Header
---------------------------------------------------------------------------- */

.site-header {
	background-color: rgba(255,255, 255, 0.90);
	padding: 0 30px;
	position: absolute;
	width: 100%;
	z-index: 9999;

	@media only screen and (min-width: $small-screen) {
		background-color: rgba(255,255, 255, 0.70);
		position: fixed;
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding-bottom: 25px;
	padding-top: 25px;
}

.wp-custom-logo .title-area {
	max-width: 200px;
	padding-bottom: 32px;
	padding-top: 32px;
	width: 100%;

	@media only screen and (min-width: 450px) {
		max-width: 300px;
		padding-bottom: 25px;
		padding-top: 25px;
	}
}

.wp-custom-logo .title-area img {
	width: auto;
}

.site-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: $dark-grey;
	text-decoration: none;
}

.site-description,
.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}